name: .NET Build Test Sonar Docker Push

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Install SonarScanner
      run: |
        dotnet tool install --global dotnet-sonarscanner
        echo "$HOME/.dotnet/tools" >> $GITHUB_PATH

    - name: SonarCloud Begin
      run: |
        dotnet sonarscanner begin \
          /k:"${{ secrets.SONAR_PROJECT_KEY }}" \
          /o:"${{ secrets.SONAR_ORG }}" \
          /d:sonar.login="${{ secrets.SONAR_TOKEN }}"

    - name: Restore App
      run: dotnet restore src/Devopsproj.App/Devopsproj.App.csproj

    - name: Build App
      run: dotnet build src/Devopsproj.App/Devopsproj.App.csproj --no-restore

    - name: Run Tests
      run: dotnet test tests/Devopsproj.Tests/Devopsproj.Tests.csproj --verbosity normal

    - name: SonarCloud End
      run: |
        dotnet sonarscanner end \
          /d:sonar.login="${{ secrets.SONAR_TOKEN }}"

    - name: Docker Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build & Push Docker Image
      run: |
        docker build -t ghcr.io/${{ github.repository_owner }}/devopsproj:latest .
        docker push ghcr.io/${{ github.repository_owner }}/devopsproj:latest
